
<section class="posts">
    <% page.posts.each(function (post) { %>
        <article class="post">
            <div class="post-title w-100 box-base">
                <h3>
                    <a href="<%- url_for(post.path) %>">
                        <%- to_upper_case(post.title) %>
                    </a>
                </h3>
                <div class="infos">
                    <div class="post-info"><%- date(post.date, 'LL') %></div>
                </div>
                <div class="bottom-shadow first"></div>
            </div>
            <% post.categories.each(function (cat) { %>
                <h4 class="post-cat">
                    <a href="<%- url_for(cat.path) %>">
                        <%= cat.name %>
                    </a>
                </h4>
            <%  }) %>

            <ul class="post-date">
                <li>
                    <%- date(post.date, 'LL') %>
                </li>
                <li>
                    <%= config.author %>
                </li>
            </ul>
            <% if (theme.auto_cover && getPostCover(post)){%>
                <div class="post-cover">
                    <img src="<%- getPostCover(post) %>">
                </div>
            <%}%>
            <div class="post-content ">
                <%- post.excerpt %>
                <a href="<%- url_for(post.path) %>" class="more-link">Continue reading</a>
            </div>
        </article>
    <% }) %>
</section>
<%-paginator()%>
