
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<%- partial('_partials/head') %>
<body style="background: <%- theme.background %>">
<%- partial('_partials/nav') %>
<div class="container main-content">

    <main class="main col-8 col-lg-8 col-sm-12">
        <%- body %>
    </main>
    <aside class="col-4 col-lg-4 col-sm-2 aside">

        <%- partial('_widget/profile') %>
        <%- partial('_widget/category') %>
        <section class="aside-section">
            <%- partial('_widget/archive') %>
        </section>
        <section class="aside-section tag">
            <%- partial('_widget/tag') %>
        </section>
    </aside>
</div>


<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
    <!-- scripts list from theme config.yml -->
    <% theme.scripts.forEach(function(url) { %>
    <script src="<%=url%>"></script>
    <% }); %>
<% } %>

</body>
</html>
